<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/home-page">
        <i class="fab fa-reddit"></i>
        My Reddit Clone
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/communities">
              <i class="fas fa-users">Prikaži zajednice</i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">
              <i class="fas fa-user">Profil</i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" routerLink="/">
                <i class="fas fa-sign-out-alt">Odjava</i> 
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<form (submit)="addCommunity()" [formGroup]="communityForm" class="card p-4 mx-auto mt-4" style="max-width: 600px;">
    <h2 class="text-center mb-4">Dodavanje nove zajednice</h2>
    <div class="form-group">
        <label for="name">Naziv zajednice:</label>
        <input type="text" [(ngModel)]="communityData.name" formControlName="name" id="name" class="form-control" required>
        <div *ngIf="communityForm.get('name').invalid && communityForm.get('name').touched" class="text-danger">
          Naziv zajednice je obavezno polje.
        </div>
    </div>
    <div class="form-group">
        <label for="description">Opis zajednice:</label>
        <input type="text" [(ngModel)]="communityData.description" formControlName="description" id="description" class="form-control" required>
        <div *ngIf="communityForm.get('description').invalid && communityForm.get('description').touched" class="text-danger">
          Opis zajednice je obavezno polje.
        </div>
    </div>
    <div class="form-group">
        <label for="rules">Pravila:</label>
        <input type="text" [(ngModel)]="communityData.rules" formControlName="rules" id="rules" class="form-control" required>
        <div *ngIf="communityForm.get('rules').invalid && communityForm.get('rules').touched" class="text-danger">
          Pravila su obavezna.
        </div>
    </div>
    <div class="form-group">
        <label for="suspendedReason">Razlog za suspendovanje:</label>
        <input type="text" [(ngModel)]="communityData.suspendedReason" value="Nije" formControlName="suspendedReason" id="suspendedReason" class="form-control" required>
        <div *ngIf="communityForm.get('suspendedReason').invalid && communityForm.get('suspendedReason').touched" class="text-danger">
          Razlog za suspendovanje je obavezno polje.
        </div>
    </div>
    <div class="form-group">
        <label for="user">Moderator:</label>
        <input type="text" [(ngModel)]="communityData.user" formControlName="user" id="user" class="form-control" required>
        <div *ngIf="communityForm.get('user').invalid && communityForm.get('user').touched" class="text-danger">
          Moderator je obavezno polje.
        </div>
    </div>
    <div class="form-group">
        <label for="postCount">Broj objava unutar zajednice:</label>
        <input type="number" [(ngModel)]="communityData.postCount" value="0" formControlName="postCount" id="postCount" class="form-control" required>
        <div *ngIf="communityForm.get('postCount').invalid && communityForm.get('postCount').touched" class="text-danger">
          Broj objava je obavezno polje.
        </div>
    </div>
    <div class="form-group">
        <label for="averageKarma">Prosečna karma zajednice:</label>
        <input type="number" [(ngModel)]="communityData.averageKarma" value="0" formControlName="averageKarma" id="averageKarma" class="form-control" required>
        <div *ngIf="communityForm.get('averageKarma').invalid && communityForm.get('averageKarma').touched" class="text-danger">
          Prosečna karma je obavezno polje.
        </div>
    </div>
    <div class="text-center mt-3">
      <button type="submit" class="btn btn-primary add-community-button"><i class="fa fa-plus"></i> Dodaj zajednicu</button>
    </div>
</form>
