<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/home-page">
        <i class="fab fa-reddit"></i>
        My Reddit Clone
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/communities">
              <i class="fas fa-users">Prikaži zajednice</i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">
              <i class="fas fa-user">Profil</i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" routerLink="/">
                <i class="fas fa-sign-out-alt">Odjava</i> 
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container my-4">
    <h1 class="text-center mb-4">Početna strana ulogovani korisnik</h1>
    <div class="container">
      <div class="d-grid gap-3">
        <a class="btn btn-primary btn-lg" routerLink="/choose-community-search">
          <span>Pretraga zajednica po raznim kriterijumima</span>
        </a>

        <a class="btn btn-primary btn-lg" routerLink="/choose-post-search">
          <span>Pretraga objava po raznim kriterijumima</span>
        </a>

        <a class="btn btn-primary btn-lg" routerLink="/add-new-post">
          <span>Dodavanje nove objave</span>
        </a>

        <a class="btn btn-primary btn-lg" routerLink="/add-new-post-pdf">
          <span>Dodavanje nove objave (PDF)</span>
        </a>

        <a class="btn btn-primary btn-lg" routerLink="/add-new-community">
          <span>Dodavanje nove zajednice</span>
        </a>

        <a class="btn btn-primary btn-lg" routerLink="/add-new-community-pdf">
          <span>Dodavanje nove zajednice (PDF)</span>
        </a>

        <a class="btn btn-primary btn-lg" routerLink="/add-new-comment">
          <span>Dodavanje novog komentara na objavu</span>
        </a>
      </div>
    </div>
    <div id="posts" class="row">
      <div class="col-md-12">
        <div class="card mb-3" *ngFor="let post of posts">
          <div class="card-body">
            <span class="text-uppercase font-weight-bold">Zajednica: {{ post.community.name }}</span>
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.text }}</p>
            <a href="#" class="btn btn-primary">{{ post.flair.name }}</a>
          </div>
        </div>
      </div>
    </div>
</div>
