<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/choose-post-search">
        <i class="fab fa-reddit"></i>
        My Reddit Clone
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/communities">
              <i class="fas fa-users">Prikaži zajednice</i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">
              <i class="fas fa-user">Profil</i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" routerLink="/">
                <i class="fas fa-sign-out-alt">Odjava</i> 
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container my-4">
  <h2 class="text-center">Pretraga objava po naslovu</h2>
  <div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Unesite naslov">
    <button class="btn btn-primary" (click)="search()"><i class="fas fa-search"></i> Pretraži</button>
  </div>
  <div *ngIf="searchResults" class="text-center">
    <h3 class="mb-3">Rezultati pretrage:</h3>
    <ul class="list-unstyled">
      <li *ngFor="let post of searchResults" class="mb-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Naslov objave:</h4>
            <p class="card-text"><b><span style="font-size: 30px;">{{ post.title }}</span></b></p>
            <h4 class="card-title">Tekst objave:</h4>
            <p class="card-text">{{ post.text }}</p>
            <h4 class="card-title">Autor objave:</h4>
            <p class="card-text">{{ post.user }}</p>
            <h4 class="card-title">Tag objave:</h4>
            <p class="card-text">{{ post.flair }}</p>
            <h4 class="card-title">Zajednica kojoj objava pripada:</h4>
            <p class="card-text">{{ post.community }}</p>
            <h4 class="card-title">Broj komentara ispod objave:</h4>
            <p class="card-text">{{ post.commentCount }}</p>
            <h4 class="card-title">Karma objave</h4>
            <p class="card-text">{{ post.karma }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
